.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: flex-start;
    padding: 30px;
    margin: 15px;
    font: bolder;
  }

#box{
    background-color: lightgray;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}
.image{
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
.advice{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: auto;  
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.table{
    min-block-size: 100%;
    max-block-size: 100%;
    margin: auto; 
    border: solid black 1px;
}
.boxTwo{
   
    margin: auto; 
padding: 5px;
}
footer{
background-color: rgb(236, 236, 236);
    display: flex;
    padding: 10px;
    margin: auto;
    border: solid black 1px; 
    text-align: center;
}

a{
    margin: 10px;
}